.git
.gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
dist/
build/
*.tar
*.tar.gz
*.zip
*.7z
*.rar
docker-compose.yml
docker.md
build.sh
build.ps1
build.version
